.proofreading-result  div.proofreading-summary {
	background-color: #e1dbdb33;
	font-family: "メイリオ","Hiragino Kaku Gothic Pro",Meiryo,"ヒラギノ角ゴ Pro W3","MS PGothic","MS UI Gothic",Helvetica,Arial,sans-serif;
	border: 1px dotted #414852;
	color: #333;
}
.proofreading-result p.proofreading-description{
	padding-left: 15px;
}
.proofreading-result  span.proofreading-h2 {
	color: #fff;
	background-color: #414852;
	font-size: 1.5em;
	font-we
	line-height: 1.3;
	width: 100%;
	padding: 10px 5px 5px 43px;
	margin: 10px 0 10px -43px;
	overflow-wrap: break-word;
	font-weight: 600;
}

.proofreading-result  span.proofreading-h3 {
	clear: both;
	color: #111;
	font-size: 1.4em;
	line-height: 1.3;
	padding: 5px 15px 0;
	margin: 15px 0 15px;
	overflow-wrap: break-word;
	font-weight: 600;
	border-bottom: 3px solid #414852;
}

.proofreading-result  table {
	width: 100%;
	background-color:#fff;
}
.proofreading-result  th,
.proofreading-result  td {
	border: solid 1px #ccc;
}

/*
.proofreading-result  td:hover {
	background: #deb3ba;
}
.tooltips {
	display: block;
	position: absolute;
	z-index: 11000;
	width: auto;
	height: auto;
	padding: 0.3em 0.5em;
	color: #FFFFFF;
	font-size: 1.4em;
	background: #c72439;
	border-radius: 0.5em;
}
.tooltips:after {
	width: 100%;
	content: "";
	display: block;
	position: absolute;
	left: 0.5em;
	top: -8px;
	border-top:8px solid transparent;
	border-left:8px solid #c72439;
}
*/

.proofreading-result .color1 {
	background-color: #9999ff;
}

.proofreading-result .color2 {
	background-color: #ccffcc;
}

.proofreading-result .color3 {
	background-color: #99ccff;
}

.proofreading-result .color4 {
	background-color: #daffb0;
}

.proofreading-result .color5 {
	background-color: #f6ffb0;
}

.proofreading-result .color6 {
	background-color: #ffe3b0;
}

.proofreading-result .color7 {
	background-color: #ffceb0;
}

.proofreading-result .lv_warning {
	background-color: #ffcccc;
}
.proofreading-result .lv_warning h2 {
	background-color: #ffcccc;
}
.proofreading-result .lv_warning h3 {
	background-color: #ffcccc;
}
.proofreading-result .lv_warning li {
	background-color: #ffcccc;
}

.proofreading-result .lv_debug {
	background-color: #ccffcc;
}
.proofreading-result .lv_debug h2 {
	background-color: #ccffcc;
}
.proofreading-result .lv_debug h3 {
	background-color: #ccffcc;
}

.proofreading-result .lv_info {
	background-color: #ffffe0;
}

.proofreading-result .lv_info h2 {
	background-color: #ffffe0;
}
.proofreading-result .lv_info h3 {
	background-color: #ffffe0;
}
